.env

__pycache__/
*.py[cod]
*.sqlite3
instance/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.mp4
*.m4v
*.avi
*.mkv
*.flv
*.swf
*.dat
*.csv
*.tsv
*.bak
*.swp
*.swo
*.tmp
*.temp
*.pid
*.seed
*.backup
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.idea/
*.vscode/
*.DS_Store
*.coverage
*.egg-info/
*.eggs/
*.pytest_cache/
*.tox/
*.mypy_cache/
*.pylint.d/
*.envrc
*.venv/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/