<!-- components/sidebar.html -->
<!-- <aside class="w-64 bg-gray-100 h-screen px-4 py-6 border-r border-gray-300">
  <h2 class="text-xl font-bold mb-8">📥 InboxOps</h2>
  <nav class="flex flex-col gap-4">
    <a href="/dashboard" style="padding-top: 5px; padding-bottom: 5px; padding-left: 2px;" class="text-gray-800 text-lg font-bold hover:text-blue-600 hover:bg-gray-200 hover:py-4 hover:px-2 block px-0 rounded transition duration-200">🏠 Inbox</a>
    <a href="/orders" style="padding-top: 5px; padding-bottom: 5px; padding-left: 2px;" class="text-gray-800 text-lg font-bold hover:text-blue-600 hover:bg-gray-200 hover:py-2 hover:px-2 block px-0 rounded transition duration-200">📦 Dashboard</a>
    <a href="/approvals" style="padding-top: 5px; padding-bottom: 5px; padding-left: 2px;" class="text-gray-800 text-lg font-bold hover:text-blue-600 hover:bg-gray-200 hover:py-2 hover:px-2 block px-0 rounded transition duration-200">✅ Approvals</a>
  </nav>
</aside> -->

<aside class="w-64 bg-gray-100 h-screen px-4 py-6 border-r border-gray-300">
  <h2 class="text-xl font-bold mb-8">📥 InboxOps</h2>
  <nav class="flex flex-col gap-4">
    <a href="/u?page=inbox" class="text-gray-800 text-lg font-bold hover:text-blue-600 hover:bg-gray-200 block px-2 py-2 rounded transition duration-200">🏠 Inbox</a>
    <a href="/u?page=dashboard" class="text-gray-800 text-lg font-bold hover:text-blue-600 hover:bg-gray-200 block px-2 py-2 rounded transition duration-200">📦 Dashboard</a>
    <a href="/approvals" class="text-gray-800 text-lg font-bold hover:text-blue-600 hover:bg-gray-200 block px-2 py-2 rounded transition duration-200">✅ Approvals</a>
  </nav>
</aside>
